<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lb02b.chargego.Dao.AutoMapper.StationMapper">
  <resultMap id="BaseResultMap" type="com.lb02b.chargego.DataObject.AutoDO.Station">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
</mapper>