<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lb02b.chargego.Dao.AutoMapper.VehicleTypeMapper">
  <resultMap id="BaseResultMap" type="com.lb02b.chargego.DataObject.AutoDO.VehicleType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vtype" jdbcType="VARCHAR" property="vtype" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="price" jdbcType="DECIMAL" property="price" />
  </resultMap>
</mapper>